* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  display: flex;
  overflow: visible;
}
div {
  display: block;
}
/* Header 부분 */
.left_container {
  zoom: 100%;
  display: flex;
  border-right: 0.1px solid rgb(219, 219, 219);
  overflow-y: 0;
  /* height: 100dvh; */
  /* position: fixed; */
}
.header__container {
  padding: 8px 12px 10px 12px;
  flex: 0 0 auto;
  width: 245px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100dvh;
  box-sizing: border-box;
}
.header__logo {
  width: 100%;
  height: 92px;
  position: relative;
  display: block;
}
.logo_cover {
  box-sizing: border-box;
  width: 100%;
  height: 73px;
  padding: 25px 12px 16px 12px;
  margin-bottom: 19px;
  display: block;
}
.instagram_logo {
  /* width:100%; */
  /* height: 35px; */
  width: 103px;
}
.header__buttons {
  flex-grow: 1;
  height: 112px;
  display: flex;
  flex-direction: column;
}
.icon_items {
  position: relative;
  /* width: 100%; */
  padding: 14px;
  border-radius: 15px;
  align-items: center;
  flex-direction : row;
  display: inline-flex;
  box-sizing: border-box;
}
.icon_items img {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
}
.icon_items p {
  font-size: 14px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding-left: 16px;
}
.header_bottoms {
  height: 112px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
.icon_items:hover {
  background-color: #f0f0f0;
}
.icon_items img:hover {
  transform: scale(1.1);
}
.header__avatar img {
  border-radius: 100px;
  border: black 2px solid;
}
.header__avatar p {
  font-weight: 600;
}

/* Main 부분 */
main {
  display: block;
  margin: auto;
}
.main__section {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 0 auto;
}
.main__main {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  order: 4;
  margin: 0 auto;
  padding: 30px 20px 0;
  max-width: 935px;
}
.main__profile {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  margin-bottom: 44px;
}
.main__avata {
  margin-right: 30px;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}
.sukki_profile {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin: auto;
}
.main__header {
  display: flex;
  flex-grow: 2;
  flex-basis: 30px;
  flex-shrink: 1;
  font-size: 100%;
  padding: 0;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  vertical-align: baseline;
  margin: 0;
}
.main__header > .top {
  flex-shrink: 1;
  height: 40px;
  margin-bottom: 20px;
  
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  font-size: 100%;
}
.main__header > .top > h2 {
  /* margin-right: 20px; */
  min-width: 0;
  text-decoration: none;
  display: inline;
  flex-shrink: 1;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
}
.main__header > .top > .top-right {
  /* width: 110px; */
  height: 32px;
  margin: 0 0 0 20px;
  font-size: 14px;
  display: flex;
  border: none;
  flex-shrink: 1;
  overflow-y: visible;
  font-weight: 500;
  cursor: pointer;
  align-items: stretch;
  flex-direction: row;
  align-self: auto;
  width: auto;
}
.main__header > .top > .top-right > button {
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 16px;
  font-size: 0.875rem;
  color: #262626;
  background-color: #ededed;
  width: auto;
}
.left-margin {
  margin-left: 8px;
}
.setting_logo {
  cursor: pointer;
  padding: 8px;
  position: relative;
  display: block;
  position: relative;
  display: block;
  height: 30px;
  justify-content: center;
  touch-action: manipulation;
}
.main__header > .middle {
  margin-bottom: 20px;
}
.main__header > .middle > ul {
  display: flex;
}
.main__header > .middle > ul > li {
  margin-right: 40px;
  list-style: none;
}
.main__header > .middle > ul > li > b {
  font-weight: 700;
}
.main__header > h3 {
  font-size: 15px;
  font-weight: 400;
}
.main__story {
  height: 130px;
  margin-bottom: 44px;
  display: block;
}
.main__story>.story__area {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
  /* width: 100%; */
}
.story__add {
  margin: 0 48px;
  display: flex;
  flex-direction: column;
}
.main__plus {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 100px;
  width: 87px;
  height: 87px;
}
.main__plus > img {
  opacity: 20%;
  width: 38px;
  height: 38px;
  margin: 20px 20px;
  cursor: pointer;
}
.story__add > h6 {
  padding-top: 10px;
  font-size: 13px;
  font-weight: 500;
  width: 87px;
  text-align: center;
}

.main__nav {
  height: 52px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  font-size: 0.75rem;
  position: relative;
  /* margin: 5px; */
  border-top: 1px solid rgb(219, 219, 219);
}
.main__nav > ul {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.main__nav > ul > li {
  height: 100%;
  margin: 0 30px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.main__nav > ul > li > a {
  font-size: 0.75rem;
  color: #5c5c5c;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
.main__nav > ul > li > img {
  width: 12px;
  height: 12px;
  margin: 0 7px 2px 0;

  filter: contrast(40%);
}

.main__posts {
  box-sizing: border-box;
  display: flex;
  min-height: 0;
  align-items: stretch;
  overflow-x: visible;
  width: 100%;
  position: relative;
  height: auto;
  margin-top: 12px;
  justify-content: center;
  font-size: 28px;
}
.main__posts > img {
  width: 283px;
  height: 283px;
  margin: 0 20px 20px 0;
  border: 1px solid #8e8e8e;
  cursor: pointer;
}
.main__posts>img:hover {
  filter: contrast(30%);
}
.main__posts>img:nth-child(3n) {
  margin: 0;
}
.main__posts>.main__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__posts>.main__layout>.main__circle {
  width: 62px;
  height: 62px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 100px;
}
/* Footer */
.footer_start {
  order: 5;
  display: flex;
  box-sizing: border-box;
}
footer {
  font-size: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  position: relative;
  vertical-align: baseline;
}
.footer__nav {
  overflow: visible;
  align-content: stretch;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 52px;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  font-size: 100%;
}
.footer__link {
  justify-content: flex-start;
  position: relative;
  margin-top: 24px;
  overflow: visible;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  flex-grow: 0;
}
.footer__link > ul {
  position: relative;
  flex-wrap: wrap;
  /* height: 41px;
  margin-top: 24px;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
}
.footer__link > ul > li {
  overflow: visible;
  align-content: visible;
  margin-bottom: 12px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  margin: 0 8px;
  color: #8e8e8e;
  list-style: none;
}
.footer__link > ul > li > a {
  font-size: 12px;
  color: #8e8e8e;
  text-decoration: none;
}
.footer__link > ul > li > a:hover {
  text-decoration: underline;
}
.footer__info {
  height: 41px;
  display: flex;
}
.footer__info > ul {
  margin: 0 auto;
  display: flex;
}
.footer__info > ul > li {
  font-size: 12px;
  margin: 10px;
  color: #8e8e8e;
  list-style: none;
}
/* 미디어쿼리 */
@media (min-width: 1264px) and (max-width: 1919px){
  .header__container {
    width: 244px;
  }
  .instagram_logo_middle_view {
    display: none;
  }
  .other_header{
    display: none;
  }
  .small_setting_logo {
    display: none;
  }
  .just-small-introduce {
    display: none;
  }
  .large_delete {
    display: none;
  }
}
@media (min-width: 738px) and (max-width: 1264px) {
  .main__main {
    padding: 30px 20px 0;
    box-sizing: content-box;
    width: calc(100% - 30px);
  }
  .header__container {
    width: 72px;
  }
  .icon_items > p {
    display: none;
  }
  .instagram_logo {
    display: none;
  }
  .instagram_logo_middle_view {
    width: 24px;
    height: 24px;
  }
  .logo_box {
    border-radius: 8px;
    padding: 12px;
    margin: 4px 0;
  }
  .logo_cover {
    height: 92px;
    position: relative;
    line-height: 18px;
    padding: 0;
    width: 48px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }
  .logo_cover:hover {
  background-color: #f0f0f0;
  }
  .instagram_logo_middle_view:hover {
    transform: scale(1.1);
  }
  .header__buttons {
    width: 100%;
  }
  .icon_items {
    padding: 12px;
    margin: 4px 0;
  }
  .other_header{
    display: none;
  }
  .small_setting_logo {
    display: none;
  }
  .just-small-introduce {
    display: none;
  }
  .large_delete {
    display: none;
  }
}
@media (max-width: 738px) {
  body{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  main {
    width: 100%;
  }
  .main__main {
    padding: 0;
    box-sizing: content-box;
    width: 100%;
    /* width: calc(100% - 30px); */
  }
  .instagram_logo_middle_view {
    display: none;
  }
  .footer_start {
    display: none;
  }
  .other_header{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 44px;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-bottom: solid 1px rgb(219, 219, 219);
  }
  .side_position {
    align-items: center;
    display: flex;
    flex-basis: 32px;
    flex-direction: row;
    width:24px;
  }
  .side_position > img {
    width: 24px;
  }
  .other_header > h1 {
    align-items: center;
    border: 0;
    display: block;
    flex-basis: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    font: inherit;
    font-size: 100%;
    justify-content: center;
    margin: 0;
    min-width: 0;
    overflow: visible;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    /* vertical-align: baseline; */
    white-space: nowrap;
  }
  .right_side {
    justify-content: flex-end;
  }
  .main__header > .top {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    border-width: 0;
    padding: 0;
    min-width: 0;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    position: relative;
    vertical-align: baseline;
    margin-bottom: 0;
  }
  .setting_logo {
    display: none;
  }
  .small_setting_logo {
    width: 32px;
    padding: 2px;
    padding-left: 10px;
  }
  .small_viewer {
    display: flex;
    flex-direction: row;
  }
  .small_viewer > h2 {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    min-width: 0;
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
  .blank {
    margin-bottom: 12px;
  }
  .main__header > .top > .top-right {
    margin-left: 0;
    max-width: 250px;
    overflow-y: visible;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    letter-spacing: 2px;
  }
  .middle {
    display: none;
  }
  .just-large {
    display: none;
  }
  .just-small-introduce {
    display: flex;
    padding: 6px 16px 21px 16px;
    position: relative;
  }
  .just-small-introduce > p {
    font-size: 14px;
  }
  .main__profile {
    margin: 16px 16px 24px 16px;
  }
  .main__avata {
    justify-content: center;
    margin-right: 28px;
    position: relative;
    flex-grow: 0;
  }
  .sukki_profile {
    width: 77px;
    height: auto;
    margin: 0;
  }
  .left_container {
    display: flex;
    flex-direction: row;
  }
  .header__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-top: solid 1px rgb(219, 219, 219);
    margin: 0;
    padding: 0;
  }
  .header_bottoms {
    display: none;
  }
  .header__buttons {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .header__logo {
    display: none;
  }
  .icon_items p {
    display: none;
  }
  .small_delete {
    display: none;
  }
}